@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);



* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 80.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  color: #FFFFFF;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  padding-bottom: 2.5rem;
}

.titles__subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #1E212C;
}

.titles__title {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.0714285714;
  color: #1E212C;
}

.title {
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.0714285714;
  color: #1E212C;
}

.footer__title {
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.footer__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.check {
  max-width: 24.375rem;
}

.check:not(:last-child) {
  margin-bottom: 3rem;
}

.check__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
}

.check__item {
  line-height: 1.6;
  padding-left: 2rem;
  background: url(../img/icon/check.svg) 0 0.3125rem no-repeat;
}

.button--color {
  background: transparent;
  color: #F75E05;
  border: 0.125rem solid #F75E05;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: rgba(255, 255, 255, 0.3);
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.125rem 1fr auto;
  grid-template-columns: 8.125rem 1fr auto;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu {
  padding: 0rem 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
}

.menu__link {
  font-weight: 700;
  line-height: 1.6;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.buttons__button-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.buttons__button-register::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icon/profile.svg) 0 0 no-repeat;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #1E212C;
  color: #FFFFFF;
  padding: 5rem 0rem 3.75rem 0rem;
  position: relative;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:repeat(3, auto);
  grid-template-columns: repeat(5, auto);
  padding-bottom: 3.75rem;
}

.footer__logo {
  max-width: 8.125rem;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__createx {
  max-width: 17.4375rem;
  display: -ms-grid;
  display: grid;
}

.footer__text {
  font-size: 12px;
  line-height: 1.2857142857;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__text:not(:last-child) {
  margin-bottom: 2.375rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer__social-link {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.6;
}

.footer__social-link--facebook {
  background: url(../img/icon-footer/Facebookfooter.svg) 0 0 no-repeat;
}

.footer__social-link--twitter {
  background: url(../img/icon-footer/Twitterfooter.svg) 0 0 no-repeat;
}

.footer__social-link--youtube {
  background: url(../img/icon-footer/YouTubefooter.svg) 0 0 no-repeat;
}

.footer__social-link--telegram {
  background: url(../img/icon-footer/telegramfooter.svg) 0 0 no-repeat;
}

.footer__social-link--insta {
  background: url(../img/icon-footer/Instagramfooter.svg) 0 0 no-repeat;
}

.footer__social-link--linkid {
  background: url(../img/icon-footer/linked-Infooter.svg) 0 0 no-repeat;
}

.finish {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}

.finish__container {
  padding: 1.25rem 0.9375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.finish__all-rights {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.2857142857;
}

.finish__span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1rem auto;
  grid-template-columns: 1rem auto;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.finish__span::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(../img/icon-footer/Heartfooter.svg) 0 0 no-repeat;
}

.finish__go-to-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2352941176;
  opacity: 0.6;
  -ms-grid-column-align: end;
      justify-self: end;
}

.column__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  line-height: 1.1818181818;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-form__title {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.block-form__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-footer__line {
  border-radius: 4px;
}

.form-footer__input {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5625rem 0.75rem;
}

.form-footer__button {
  width: 1.5rem;
  height: 1.1875rem;
}

.form-footer__button::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url(../img/icon-footer/line\ \(Stroke\).svg) 0 0 no-repeat;
}

.page__container {
  position: relative;
  z-index: 10;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 190px;
}

.page__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page__play::before {
  content: "";
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: url(../img/icon/polygon.svg) center no-repeat, #FF3F3A;
}

.page__play::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A;
  opacity: 0.12;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-animation: play linear infinite 1.4s;
          animation: play linear infinite 1.4s;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
}

@keyframes play {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0;
  }
}

.page__play span {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
}

.page__play:not(:last-child) {
  margin-bottom: 24px;
}

.page__content {
  padding-right: 15px;
}

.page__title {
  max-width: 496px;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  color: #1E212C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page__title:not(:last-child) {
  margin-bottom: 60px;
}

.page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.page__image {
  -webkit-transform: translate(7.8%, 0);
      -ms-transform: translate(7.8%, 0);
          transform: translate(7.8%, 0);
}

.page__image__image img {
  max-width: 107.8%;
}

.page__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main__page {
  padding: 200px 0 0 0;
  position: relative;
  z-index: 20;
  overflow: hidden;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.experience {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, auto);
  -webkit-column-gap: 66px;
     -moz-column-gap: 66px;
          column-gap: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.experience span {
  color: #1E212C;
}

.experience__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.experience__circle {
  background-color: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.decor {
  position: absolute;
  opacity: 1;
}

.decor__one {
  top: 12.314815%;
  left: 4.270833%;
  width: 96px;
  height: 96px;
  background: url(../img/design/1.svg) 0 0 no-repeat;
}

.decor__two {
  top: 85.962963%;
  left: -8.833333%;
  width: 284px;
  height: 284px;
  background: url(../img/design/2.svg) 0 0 no-repeat;
}

.decor__three {
  top: 41.092593%;
  left: 38.729167%;
  width: 88px;
  height: 47px;
  background: url(../img/design/3.svg) 0 0 no-repeat;
}

.decor__four {
  top: 70.185185%;
  left: 38.177083%;
  width: 61px;
  height: 61px;
  background: url(../img/design/4.svg) 0 0 no-repeat;
}

.decor__five {
  bottom: 17.962963%;
  right: -1.5625%;
  width: 187px;
  height: 137px;
  background: url(../img/design/5.svg) 0 0 no-repeat;
}

.decor__six--position {
  top: -4.166667%;
  right: 5.022917%;
  width: 110px;
  height: 110px;
  background: url(../img/design/1.svg) 0 0 no-repeat;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.who-we-are {
  padding: 11.25rem 0rem;
  position: relative;
}

.who-we-are__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who-we-are__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.0625rem;
          flex: 0 1 44.0625rem;
}

.who-we-are__image img {
  max-width: 100%;
}

.who-we-are__content {
  padding-left: 15px;
}

.who-we-are__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.who-we-are__decor__item {
  position: absolute;
}

.decor-who-we-are__item {
  position: absolute;
}

.dont-miss {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  padding: 7.5rem 0rem 11.25rem 0rem;
  position: relative;
  z-index: 5;
}

.dont-miss__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.dont-miss__title {
  max-width: 50.625rem;
  text-align: center;
  padding-bottom: 3.75rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  gap: 1.5rem;
}

.form__input {
  max-width: 26.375rem;
  width: 100%;
}

.decor-dont-miss {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.test {
  padding: 0.5625rem 0.75rem;
  background-color: black;
}

@media (min-width: 80.625em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .menu__list {
    row-gap: 0.625rem;
  }

  .buttons {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .buttons__button-register {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
}

@media (max-width: 950px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 950px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .menu__list {
    row-gap: 0.5rem;
  }

  .buttons {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }

  .buttons__button-register {
    -webkit-column-gap: 0.25rem;
       -moz-column-gap: 0.25rem;
            column-gap: 0.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.625rem;
    overflow: auto;
    background-color: linear-gradient(55.95deg, rgba(255, 64, 58, 0.8) 0%, rgba(146, 86, 50, 0.8) 100%);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: linear-gradient(55.95deg, rgba(255, 64, 58, 0.3) 0%, rgba(146, 86, 50, 0.3) 100%);
    z-index: 2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 0.625rem;
  }

  .menu__link {
    font-size: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body::before {
    height: 4.5rem;
  }
}

@media (min-width: 20em) and (max-width: 80.625em) {
@supports (padding-top: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem )) {
    .header {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 60.625);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.418814433rem  +  1.0309278351vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 60.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem );
              column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.4220360825rem  +  2.5773195876vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.625);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.625);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.625);
    }
}

@supports (row-gap: clamp( 0.5rem , 0.4587628866rem  +  0.206185567vw , 0.625rem )) {
    .menu__list {
      row-gap: clamp( 0.5rem , 0.4587628866rem  +  0.206185567vw , 0.625rem );
    }
}

@supports not (row-gap: clamp( 0.5rem , 0.4587628866rem  +  0.206185567vw , 0.625rem )) {
    .menu__list {
      row-gap: calc(0.5rem + 0.125 * (100vw - 20rem) / 60.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem )) or (column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem ))) {
    .buttons {
      -webkit-column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem );
         -moz-column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem );
              column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem )) or (column-gap: clamp( 1.125rem , 0.7538659794rem  +  1.8556701031vw , 2.25rem ))) {
    .buttons {
      -webkit-column-gap: calc(1.125rem + 1.125 * (100vw - 20rem) / 60.625);
         -moz-column-gap: calc(1.125rem + 1.125 * (100vw - 20rem) / 60.625);
              column-gap: calc(1.125rem + 1.125 * (100vw - 20rem) / 60.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem )) or (column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem ))) {
    .buttons__button-register {
      -webkit-column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem );
         -moz-column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem );
              column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem )) or (column-gap: clamp( 0.25rem , 0.1675257732rem  +  0.412371134vw , 0.5rem ))) {
    .buttons__button-register {
      -webkit-column-gap: calc(0.25rem + 0.25 * (100vw - 20rem) / 60.625);
         -moz-column-gap: calc(0.25rem + 0.25 * (100vw - 20rem) / 60.625);
              column-gap: calc(0.25rem + 0.25 * (100vw - 20rem) / 60.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body::before {
    height: 5.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (height: clamp( 4.5rem , 4.4929245283rem  +  5.6603773585vw , 5.625rem )) {
    .menu__body::before {
      height: clamp( 4.5rem , 4.4929245283rem  +  5.6603773585vw , 5.625rem );
    }
}

@supports not (height: clamp( 4.5rem , 4.4929245283rem  +  5.6603773585vw , 5.625rem )) {
    .menu__body::before {
      height: calc(4.5rem + 1.125 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: #F75E05;
  }

  .button--color:hover {
    background: #F75E05;
    color: #FFFFFF;
  }

  .menu__link:hover {
    color: #FF3F3A;
  }

  .buttons__button-register:hover {
    text-decoration: underline;
  }

  .footer__social-link:hover {
    opacity: 1;
  }

  .column__link:hover {
    text-decoration: underline;
  }

  .page__play:hover {
    text-decoration: underline;
  }
}